// FONTS
$font-primary: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

// COLORS
$black: #000000;
$white: #ffffff;

$english-violet: #413c58;
$opal: #a3c4bc;
$tea-green: #bfd7b5;
$pale-spring: #e7efc5;
$champagne: #f2dda4;
